# # Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.production

# # Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# # Uploads
uploads/

# # Test coverage
coverage/
.nyc_output/

# # IDE
.vscode/
.idea/
*.swp
*.swo
*~

# # OS
.DS_Store
Thumbs.db

# # Build
dist/
build/

# # Temporary files
tmp/
temp/


# # Database
*.sqlite
*.sqlite3

# # PM2
.pm2/
ecosystem.config.js

# # Redis dump
dump.rdb

scripts/postman
scripts/utilities

docs/

scripts/
# --------------------
# Ignore specific folders completely
# --------------------
onk/
logs/
doc/
BACKUPS/
tests/

*.zip


# ==========================
# Uploads - keep folder and first layer
# ==========================

# Ignore everything inside uploads
uploads/**

# But keep the uploads folder itself
!uploads/

# Keep only first-level subfolders
!uploads/*/

# Ignore all files inside those subfolders
uploads/*/*

!.gitkeep

